#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#country-details{
    position: fixed;
    top: 0%;
    left: 2%;
}
.country{
    border: 2px solid tomato;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}